body {
  /* margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Amaranth", sans-serif;
}

/*
.login{
  display: flex;
  flex-direction: column;
  gap: -50px;
  position: relative;
  top: 50px;
  left: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 580px;
  height: 700px;
}

.login h1{
  position: relative;
  top:-25px
}
.form-label{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: -5px;
}

.form-input{
  display: flex;
  width: 450px;
  margin-top: -5px;
}

label{
  position: relative;
  top: 10px;
} */
/* button{
  width: 160px;
  height: 40px;
  padding: 5px;
  background-color: rgb(233, 89, 89);
  color: #353533;
  border: none;
  border-radius:20px;
  position: relative;
  top:20px;
} */

/* .name-inputs {
  margin-left:-300px;
  width: 100px;
  display: flex;
  gap: 5px;
  justify-content: space-between; 
}*/

.input-with-icon {
  display: flex; /* Make the children (icon and input) align horizontally */
  align-items: center; /* Center children vertically */
}

.close-button{
  background-color: transparent;
  color: gray;
  border: none;
  border-radius: 50%;
  position: relative;
  top:-1px;
  left:230px;
}

.otp{
  position: relative;
  top: 200px;
  left:700px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 580px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.otp button{
  position: relative;
  left: 150px;
}

.signin{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  top: 100px;
  left: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 60px;
  width: 580px;
  height: 500px;
} 

.signin input{
  width: 400px;
  border: 1px solid rgb(194, 192, 192);
} */

/* Global Styles */

/* Main Container */
.main-div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Upper Form Styles */
/* .upper-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-form label {
  font-weight: bold;
  margin-right: 10px;
}

.upper-form select,
.upper-form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Menu Items List Styles */
/* ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
} */

/* Single Item Styles */
/* .single-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.single-item h2 {
  margin: 0;
  font-size: 20px;
}

.single-item p {
  margin: 10px 0;
}

.single-item button {
  background-color: #007bff;
  color: #fff;
  border: none
} */

  
